body{
  animation-iteration-count: infinite;
background: #FFFF;
    padding: 0;
    margin: 0;
    position: relative;
}
section980{
  margin-top: 100px
}

div69{
    margin: 0;
    padding: 0;
}
div68{
    position: absolute;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #1c1b1b;
    margin-top: 400px;
    margin-left: 865px;
}
div0{
    font-family: 'Lato', sans-serif;

    font-size:25px;
    padding-left: 930px;
    padding-top: 10px;
    position: absolute;
    color: #4d4d4d;

}

section3{
    position:absolute;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    padding-left: 290px;
    color: #4d4d4d;

}
div69{
    margin: 0;
    padding: 0
}


section6 {
    position: absolute;
    font-size: 85px;
    font-family: 'Lato', sans-serif;
    padding-left: 671px;
    padding-right: 0%;
    padding-top: 340px;
    color: #42413f;
}

section4
{
    position: absolute;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    padding-left: 1390px;
    color: #4d4d4d;
}
h1{
    position: center;
    font-size: 45px;
    font-family: 'Lato', sans-serif;


}
section5{
  margin: 0;
  padding: 0;
}

section12 {
    position: absolute;
    padding-top:1555.50px;
    padding-left: 590px;
}
section{
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    margin-top: 65px;
    margin-left: 200px;
    margin-right: 1270px;
    color: #1c1b1b;
    position: absolute;
}



section1  {
    font-family: 'Lato', sans-serif ;
    font-size: 19px;
    margin-right: 200px;
    margin-top: 65px;
    margin-left: 1270px;
    color: #1c1b1b;
    position: absolute;
}
section7 {
    font-family: 'Lato', sans-serif ;
    font-size: 35px;
    margin-right: 200px;
    margin-top: 495px;
    margin-left: 290px;
    color: #1c1b1b;
    position: absolute;
}
section8 {
    font-family: 'Lato', sans-serif ;
    font-size: 28px;
    margin-right: 200px;
    margin-top: 555px;
    margin-left: 930px;
    color: #3b3939;
    position: absolute;
}

section9{
    font-family: 'Lato', sans-serif ;
    font-size: 17px;
    margin-right: 200px;
    margin-left: 900px;
    margin-top: 603px;
    color: #1c1b1b;
    position: absolute;
    padding-bottom: 20px;
}
section10{
    font-family: 'Lato', sans-serif ;
    font-size: 28px;
    margin-right: 200px;
    margin-top: 595px;
    margin-left: 130px;
    color: #3b3939;
    position: absolute;

}


section11{
    font-family: 'Lato', sans-serif ;
    font-size: 17px;
    margin-right: 200px;
    margin-left: 130px;
    margin-top: 640px;
    color: #1c1b1b;
    position: absolute;
}
section15{
    background: rgba(191, 187, 187, 0.15);
}
section17{
    padding-top: 10000px
}

div{
    position: absolute;
    padding-left: 1450px;
    margin-top: 595px;
}
/* GLOBAL STYLES */
div2 {
    padding-top:480px;
    position: absolute;
    padding-left: 490px;
    font-size: 29px;
    font-family: Arial;
    display: flex;
    justify-content: center;
}

/* DEMO-SPECIFIC STYLES */
.typewriter p100 {
    color: #454440;
    font-family:Arial;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #423020; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0em; /* Adjust as needed */
    animation:
            typing 4.5s steps(100, end),
            blink-caret .9s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #50463e
    }
}
p100{
    background-color: rgba(215, 190, 108, 0);
}


Resources
